<div class="row-container">
    <div>
        <app-description [description]="pc().description"></app-description>
        <app-attributes
            [attributes]="pc().attributes"
            [woundsPenalty]="woundsPenalty()"
            [fatiguePenalty]="fatiguePenalty()"
            [distractedPenalty]="distractedPenalty()"
        ></app-attributes>
        <app-gear [gear]="pc().gear" [credits]="pc().credits"></app-gear>
    </div>
    <div>
        <app-skills
            [skills]="pc().skills"
            [woundsPenalty]="woundsPenalty()"
            [fatiguePenalty]="fatiguePenalty()"
            [distractedPenalty]="distractedPenalty()"
        ></app-skills>
    </div>
    <div>
        <app-derived
            [speed]="pc().speed"
            [fighting]="fightingValue()"
            [vigor]="vigorValue()"
        ></app-derived>
        <app-states
            [woundsLimit]="pc().woundsLimit"
            (transmitWoundsPenalty)="setWoundsPenalty($event)"
            (transmitFatiguePenalty)="setFatiguePenalty($event)"
            (transmitDistractedPenalty)="setDistractedPenalty($event)"
        ></app-states>
    </div>
    <div>
        <app-hindrances [hindrances]="pc().hindrances"></app-hindrances>
        <app-edges [edges]="pc().edges"></app-edges>
    </div>
</div>