<mat-card>
    <mat-card-title>Attributes</mat-card-title>
    <mat-card-content>
        @for (attribute of attributes(); track $index) {
            <div class="flex-container">
                <b>
                    {{attribute.name}}
                </b>
                <img [src]="attribute.die.imagePath" matTooltip="{{attribute.die.description}}" matTooltipPosition="after">
                <span matTooltip="{{getConditions(attribute.penalties)}}"
                    class="bonusspan"
                    [class.conditionalspan]="hasConditional(attribute.penalties)"
                >
                    {{addBonuses(attribute.penalties)}}
                </span>
            </div>
        }
    </mat-card-content>
</mat-card>