img {
    width: 32px;
    height: 32px;
}

mat-card {
    width: 250px;
    margin-bottom: 4px;
    margin-right: 4px;
}

mat-card-title {
    padding-left: 8px;
}

mat-card-content {
    align-items: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

b {
    color: gray;
    width: 65px;
}

.bonusspan {
    width: 25px;
    cursor: default;
    border: 1px solid lightgray;
    text-align: right;
}

.conditionalspan {
    background-color: darkgoldenrod;
}

.hasconditional {
    color: black;
    font-weight: bold;
}