<mat-card>
    <mat-card-title class="flex-container">
        Skills
        <mat-checkbox [checked]="showAll()" (change)="checkShowAll(showAll())">Show All</mat-checkbox>
    </mat-card-title>
    <mat-card-content>
        @for (skill of skills(); track $index) {
            @if (skill.proficient || showAll()) {
                <div class="flex-container" [class]="{'defaulted': skill.defaultDie > 0}">
                    <span matTooltip="{{skill.attribute}}" matTooltipPosition="after" class="namespan" color="warn">
                        {{skill.name}}
                    </span>
                    <img [src]="skill.die.imagePath" matTooltip="{{skill.die.description}}" matTooltipPosition="after">
                    <app-bonus [bonuses]="skill.penalties" [woundsPenalty]="woundsPenalty()" [fatiguePenalty]="fatiguePenalty()"></app-bonus>
                </div>
            }
            @for (specialization of skill.specializations; track $index) {
                <div class="tabbed-container">
                    <span class="namespan">{{specialization}}</span>
                </div>
            }
        }
    </mat-card-content>
</mat-card>