img {
    width: 32px;
    height: 32px;
}

mat-card {
    width: 250px;
    margin-right: 4px;
}

mat-card-title {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 8px;
    padding-right: 8px;
}

mat-card-content {
    align-items: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.tabbed-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    margin-left: 12px;
    color: blue;
}

b {
    color: black;
}

.defaulted {
    background-color: slategray;
}

.namespan {
    width: 150px;
}

.bonusspan {
    width: 25px;
    cursor: default;
    border: 1px solid lightgray;
    text-align: right;
}

.bonusimage {
    margin-left: -12px;
}

.conditionalspan {
    background-color: darkgoldenrod;
}

.hasconditional {
    color: black;
    font-weight: bold;
}